name: Build release

on:
  release:
    types: published

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: true
          persist-credentials: false

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: 'pypy3.9'

      - name: Install meson and ninja
        run: pip install -r requirements.txt

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure
        run: meson setup bin --buildtype release

      - name: Compile
        run: meson install -C bin --destdir ../out

      - name: Create zip
        working-directory: out
        run: 7z a "../template-${{ github.ref_name }}-${{ runner.os }}.zip" "*"

      - name: Upload release
        uses: AButler/upload-release-assets@v3.0
        with:
          files: 'template-${{ github.ref_name }}-${{ runner.os }}.zip'
          repo-token: ${{ secrets.GITHUB_TOKEN }}